<h4 class="text-center">Code Sample</h4>

<div class="row border border-1 mb-5 py-1">
  <div class="col-12 border-end border-3 border-primary mb-3">
    <h5>Data List:</h5>

    <pre>
      <code class="language-json">
        {{CS_JSON_DATA}}
      </code>
    </pre>

  </div>

  <div class="col-6 border-start border-end border-3 border-primary">
    <h5>Columns Definition:</h5>

    <pre>
      <code class="language-ts">
        {{CS_TYPESCRIPT}}
      </code>
    </pre>
  </div>

  <div class="col-6 border-end border-3 border-primary">
    <h5>Using in Template:</h5>
    <pre>
      <code class="language-markup">
        {{ CS_HTML_TEMPLATE }}
      </code>
    </pre>
  </div>

</div>
