
<div class="container">

    <h3 class="text-center mt-5">Simple Table Example</h3>

    <div class="my-5">
        <ngb5-simple-table  [title]="'Todo List'"
                            [dataList]="todoList" 
                            [columns]="todoColumns" 
                            [staticPagination]="true">
        </ngb5-simple-table>
    </div>

    <hr/>

    <!-- TODO Use code blocks prismjs or other to display these blocks -->
    <h4 class="text-center">Code Sample</h4>

    <div class="row border border-1 mb-5 py-1">
        <div class="col-12 border-end border-3 border-primary mb-3">
            <h5>Data List:</h5>
            
            <code class="text-secondary">
                <div>&nbsp;todoList = &#91;</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&#123;"id":1,"title":"delectus&nbsp;aut&nbsp;autem","completed":false&#125;,</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&#123;"id":2,"title":"quis&nbsp;ut&nbsp;nam&nbsp;facilis&nbsp;et&nbsp;officia&nbsp;qui","completed":false&#125;,</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&#123;"id":3,"title":"fugiat&nbsp;veniam&nbsp;minus","completed":false&#125;,</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&#123;"id":4,"title":"et&nbsp;porro&nbsp;tempora","completed":true&#125;,</div>
                <div>&nbsp; &nbsp; ...,</div>
                <div>&nbsp; &nbsp; ...,</div>
                <div>&#93;</div>
            </code>
        </div>

        <div class="col-6 border-start border-end border-3 border-primary">
            <h5>Columns Defination:</h5>

            <code class="text-primary">
                <div>&nbsp; todoColumns: Column&#91;&#93; = &#91;</div>
                <div>&nbsp; &nbsp; &#123; id: 1, name: 'id', label: 'SN', type: ColumnType.STRING &#125;,</div>
                <div>&nbsp; &nbsp; &#123; id: 2, name: 'title', label: 'Title', type: ColumnType.STRING &#125;,</div>
                <div>&nbsp; &nbsp; &#123; id: 3, name: 'completed', label: 'Completed', type: ColumnType.STRING &#125;,</div>
                <div>&nbsp; &#93;;</div>
            </code>
        </div>

        <div class="col-6 border-end border-3 border-primary">
            <h5>Using in Template:</h5>
            <code>
                <div>
                    <div>&nbsp; &nbsp; &lt;ngb5-simple-table &nbsp;[title]="'Todo List'"</div>
                    <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [dataList]="todoList"</div>
                    <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [columns]="todoColumns"</div>
                    <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [staticPagination]="true"&gt;</div>
                    <div>&nbsp; &nbsp; &lt;/ngb5-simple-table&gt;</div>
                </div>
            </code>
        </div>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>


</div>